/* Common */
:root {
    --primary-color: white;
    --secondary-color: #f7f7f7;
    --primary-border-color: rgba(0, 0, 0, 0.3);
    --secondary-border-color: rgba(0, 0, 0, 0.1);
    --primary-element-color: rgba(0, 0, 0, 0.3);
    --secondary-element-color: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
}

.vertically {
    margin-bottom: auto;
    margin-top: auto;
}

.material-icons {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
}

.tag {
    border: 1px rgba(66, 64, 64, 0.2) solid;
    border-radius: 7px;
    cursor: default;
    display: flex;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    padding: 2px;
    vertical-align: middle;
}

.btn {
    background-color: white;
    border: 1px solid var(--primary-border-color);
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary-element-color);
}

.deleteBtn {
    background-color: rgba(255, 0, 0, 0.65);
}

.deleteBtn:hover {
    background-color: rgba(221, 3, 3, 0.8);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

/* Main instances */

/* Top bar */
#top-bar {
    background-color: var(--primary-color);
    border-bottom: 1px var(--primary-border-color) solid;
    display: flex;
    height: 50px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

#top-bar__logo {
    cursor: default;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px 0 10px;
    vertical-align: middle;
}

#top-bar__search {
    background-color: var(--primary-color);
    border: 1px var(--secondary-border-color) solid;
    border-radius: 5px;
    display: flex;
    height: 80%;
    margin-bottom: auto;
    margin-top: auto;
    position: relative;
    width: 80%;
}

#top-bar__search__tags {
    display: flex;
    height: 25px;
    margin-bottom: auto;
    margin-right: 5px;
    margin-top: auto;
    padding: 5px;
    position: relative;
    width: 50%;
}

#top-bar__search__tags__list {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    min-height: 20px;
    padding: 5px;
    position: absolute;
    top: 35px;
    width: 95%;
}

.top-bar__search__suggestion-tag {
    border-radius: 5px;
    cursor: pointer;
    padding: 4px;
}

.top-bar__search__suggestion-tag:hover {
    background-color: var(--secondary-element-color);
}

#top-bar__search__advanced {
    display: flex;
    height: 25px;
    margin-bottom: auto;
    margin-top: auto;
    padding: 5px;
    width: 43%;
}

#top-bar__search__tag-input {
    border: 0;
    border-bottom: 1px black solid;
    outline: none;
    padding-right: 2px;
    width: 100px;
}

#top-bar__settings {
    cursor: pointer;
    height: 80%;
    margin-left: 10px;
    position: relative;
    width: 30px;
}

#top-bar__settings > img {
    /* middle */
    bottom: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Remove arrow in input with datalist */
input::-webkit-calendar-picker-indicator {
    display: none;
}

/* Main block */
#main-block {
    overflow: hidden;
}

#main-block__wrapper {
    height: 93vh;
    overflow: auto;
    width: 100%;
}

#upload-block {
    text-align: center;
}

#upload-block__layer {
    border: 2px #888888 dotted;
    border-radius: 15px;
    color: #888888;
    display: inline-block;
    font-size: 50px;
    height: 90vh;
    left: 5vw;
    margin: auto;
    position: fixed;
    top: 8vh;
    width: 90vw;
    z-index: 1;
}

.file-table {
    border-collapse: collapse;
    font-family: arial, sans-serif;
}

.file-table > tr > td,
th {
    border-bottom: 1px solid #dddddd;
    height: 40px;
    padding: 4px;
    text-align: left;
}

.filename {
    -o-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

/* Secondary instances */

/* Context menu */
#context-menu {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
    padding: 5px;
    position: fixed;
    text-align: center;
}

.context-menu__input {
    background-color: white;
    border: 1px solid var(--primary-border-color);
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 3px;
    outline: none;
    width: 100%;
}

.context-menu__input:hover {
    background-color: var(--secondary-element-color);
}

.context-menu__input--href {
    /* Same as input */
    color: black;
    display: block;
    font-family: Arial;
    font-size: 13.3333px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

/* Modal window */
#modal-window {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

#modal-window__block {
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
    top: 10vh;
    width: 600px;
    z-index: 3;
}

.modal-window__input {
    padding: 5px;
    text-align: center;
}

.modal-window__input > textarea {
    display: block;
    height: 70px;
    margin: auto;
    resize: none;
    width: 400px;
}

.modal-window__tags-field {
    border: 1px dashed var(--primary-border-color);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 40px;
    padding: 10px;
    width: 80%;
}

#modal-window__error {
    background-color: rgba(255, 161, 161, 0.883);
    border: 1.5px rgba(255, 0, 0, 0.65) solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;
    width: 80%;
}

/* Events window */
#events-window {
    background-color: var(--secondary-color);
    border: 1px var(--primary-border-color) solid;
    border-radius: 5px;
    bottom: 10px;
    height: 200px;
    left: 10px;
    overflow: auto;
    padding: 10px;
    position: fixed;
    width: 350px;
    word-wrap: break-word;
}

.events-window__msg {
    margin-bottom: 5px;
}
