/* Common */

body {
    margin: 0;
    padding: 0;
}

.vertically {
    margin-top: auto;
    margin-bottom: auto;
}

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.tag {
    cursor: default;
    display: flex;
    border: 1px rgba(66, 64, 64, 0.226) solid;
    padding: 2px;
    border-radius: 7px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

/* Top bar */
#top-bar {
    z-index: 1;
    top: 0;
    display: flex;
    height: 50px;
    width: 100%;
    position: sticky;
    background-color: white;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

#top-bar__logo {
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    margin: 0 10px 0 10px;
    vertical-align: middle;
}

#top-bar__search {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    height: 80%;
    display: flex;
    border: 1px rgba(0, 0, 0, 0.3) solid;
    border-radius: 5px;
    background-color: white;
}

#top-bar__search__tags {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    height: 25px;
    width: 50%;
    padding: 5px;
    margin-right: 5px;
}

#top-bar__search__advanced {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    height: 25px;
    width: 43%;
    padding: 5px;
}

#top-bar__search__tag-input {
    border: 0;
    outline: none;
    padding-right: 2px;
    width: 100px;
    border-bottom: 1px black solid;
}

/* Remove arrow in input with datalist */
input::-webkit-calendar-picker-indicator {
    display: none;
}

/* Left bar */
#left-bar {
    width: 250px;
    float: left;
}

/* Main block */
#main-block {
    overflow: hidden;
}

#upload-block {
    text-align: center;
}

#upload-block__layer {
    position: fixed;
    right: 5vw;
    width: 70vw;
    top: 8vh;
    height: 90vh;
    position: absolute;
    border: 2px #888888 dotted;
    display: inline-block;
    color: #888888;
    font-size: 50px;
    z-index: 1;
    border-radius: 15px;
}

.file-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.file-table > tr > td,
th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
    height: 40px;
}

.filename {
    /* Opera */
    -o-text-overflow: ellipsis;
    /* IE, Safari (WebKit) */
    text-overflow: ellipsis;
    /* don't show excess chars */
    overflow: hidden;
    /* force single line */
    white-space: nowrap;
    width: 200px;
}
