<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
	<!-- Material icons  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body onload="Init();">
	<!-- Search bar -->
	<div id="topBar">
		<div id="tagsDrive">
			<span>Tags Drive</span>
		</div>
		<div id="searchBox">
			<div id="tagsBlock">
				<tag v-for="tag in pickedTags" :name="tag.name" :color="tag.color"></tag>
				<input id="tagInput" type="text" list="tagsList" v-model="tagForAdding" @keyup.enter="addTag">
				<datalist id="tagsList">
					<option v-for="tag in sharedState.allTags">{{tag.name}}</option>
				</datalist>
				<i @click="addTag" class="material-icons" style="cursor: pointer;">add_circle_outline</i>
			</div>
			<div class="vertCenter" style="border-right: 1px solid black; height: 90%;"></div>
			<div id="advancedSearchBlock">
				<input v-model="text" type="text" placeholder="Text for search" style="margin-right: 5px;">

				<div class="vertCenter" style="margin-right: 5px;">Sort by</div>
				<select v-model="selectedSortType" style="margin-right: 5px;">
					<option>Name</option>
					<option>Size</option>
					<option>Time</option>
				</select>
				<select v-model="selectedSortOrder" style="margin-right: 5px;">
					<option>Asc</option>
					<option>Desc</option>
				</select>
				<div class="vertCenter" style="margin-right: 5px;">Mode</div>
				<select v-model="selectedMode" style="margin-right: 5px;">
					<option>And</option>this.selectedSortType.toLowerCase()
					<option>Or</option>
					<option>Not</option>
				</select>
			</div>
			<div style="height: 100%; right: 0px; position: absolute;">
				<i @click="search" class="material-icons" style="font-size: 37px; cursor: pointer;">search</i>
			</div>
		</div>
	</div>


	<div id="mainBlock">
		<ul>
			<li v-for="file in sharedState.allFiles">{{file}}</li>
		</ul>
	</div>

	<!-- Vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- Custom -->
	<script src="/static/js/components.js"></script>
	<script src="/static/js/main.js"></script>
</body>

</html>