<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login Page</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/login.css" />
</head>

<body>
	<div id="login-form">
		<div v-if="isError">
			<div id="error-msg">
				<b><span style="font-size: 20px;">Error: </span></b>{{errorMsg}}
			</div>
		</div>
		<p></p>
		<input type="text" v-model="login" placeholder="Login">
		<p></p>
		<input type="password" v-model="password" placeholder="Password">
		<p></p>
		<input type="button" @click="auth" value="Submit">
	</div>

	<!-- Vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- SHA-256 (https://github.com/emn178/js-sha256) -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.js"></script>
	<!-- Custom -->
	<script src="/static/js/login.js"></script>
</body>

</html>